{
  "env": {
    "test": {
      "presets": [
        "env",
        "stage-0"
      ],
      "plugins": [
        "external-helpers",
        "transform-runtime"
      ]
    },
    "development": {
      "presets": [
        [
          "env",
          {
            "modules": false
          }
        ],
        "stage-0"
      ],
      "plugins": [
        "external-helpers",
        "transform-runtime"
      ]
    },
    "production": {
      "presets": [
        [
          "env",
          {
            "modules": false
          }
        ],
        "stage-0"
      ],
      "plugins": [
        "external-helpers",
        "transform-runtime"
      ]
    }
  }
}
