{
    "parser": "babel-eslint",
    "env": {
        "es6": true,
        "mocha": true,
        "node": true,
        "jest/globals": true
    },
    "extends": [
        "eslint:recommended",
        "plugin:import/errors",
        "plugin:import/warnings",
        "prettier"
    ],
    "plugins": [
        "prettier",
        "jest"
    ],
    "rules": {
        "prettier/prettier": ["error", {
            "singleQuote": true,
            "tabWidth": 4,
            "trailingComma": "all"
        }],
        "import/no-extraneous-dependencies": "off",
        "no-console": ["error", { "allow": ["warn", "error"] }],
        "no-unused-vars": ["error", { "ignoreRestSiblings": true }]
    }
}
