{
    "parser": "babel-eslint",
    "env": {
        "browser": true,
        "es6": true,
        "mocha": true,
        "node": true,
        "jest/globals": true
    },
    "extends": [
        "eslint:recommended",
        "prettier",
        "plugin:prettier/recommended",
        "plugin:import/errors",
        "plugin:import/warnings"
    ],
    "plugins": ["prettier", "jest"],
    "rules": {
        "prettier/prettier": ["error"],
        "import/no-extraneous-dependencies": "off",
        "no-console": [
            "error",
            {
                "allow": ["warn", "error"]
            }
        ],
        "no-unused-vars": [
            "error",
            {
                "ignoreRestSiblings": true
            }
        ]
    }
}
